.questionWrapper{
    background-color: lightgrey;

}

.questionText{
    font-size: 2rem;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: 495057;
    border: 0px;
    border-radius: 0;
}

.input-group {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
